@tailwind base;
@tailwind components;
@tailwind utilities;

/* model viewer */
model-viewer {
  width: inherit;
  height: inherit;
  background-color: transparent;
  --poster-color: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.scene {
  width: inherit;
  height: inherit;
}

.canvas {
  background: transparent;
}
